#visit{
  margin-top: 10px !important;
  margin-left: 80%;
}
.App{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: azure;
}
.divide{
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  border-top: dotted 5px;
}
.scroll-to-top{
  top: 70px !important;
  right: 50% !important;
}